# venv
venv

# platformio
**/platformio.ini

# mosquitto 
**/passwd
**/mosquitto.log


# .env file
**/cred.env

# Python bytecode files
*.pyc
*.pyo

# __pycache__ directories
__pycache__/
**/__pycache__/
**/__pycache__/*

# sqlite database
**/jobs.db